.container {
  width: 100%;
  margin-bottom: 7%;
}

.container-nav {
  display: flex;
  flex-direction: column;
}

.container-nav-title {
  margin-top: 8%;
  margin-left: 20%;
  font-weight: 600;
  font-size: 3vw;
  color: white;
}

.container-nav-links {
  display: flex;
  flex-direction: column;
  margin-top: 2%;
}

.container-nav-links-top {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container-nav-links-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 3%;
}

.container-button {
  background-color: white;
  padding: 2% 3%;
  border-radius: 20px;
  font-weight: 300;
  text-decoration: none;
  color: black;
}

.corsematin:hover {
  opacity: 1;
}

.dismoi:hover {
  opacity: 1;
}

.cinepick:hover {
  opacity: 1;
}

.spoty:hover {
  opacity: 1;
}

/* CORSEMATIN */

.corsematin {
  border-radius: 20px;
  padding: 2%;
  width: 24%;
  margin-right: 8%;
  height: fit-content;
  background-image: linear-gradient(160deg, #3e1c8d, #9d3d6c);
  box-shadow: 0px 0px 20px #3e1c8d;
  opacity: 0.3;
}

.corsematin-top {
  margin-top: -40%;
}

.corsematin img {
  width: 100%;
}

.corsematin h1 {
  margin-top: 6%;
  margin-bottom: 6%;
  font-weight: 600;
  font-size: 3vw;
  color: white;
}

/* DIS MOI */

.dismoi {
  width: 42%;
  border-radius: 25px;
  box-shadow: 0px 0px 20px #3e1c8d;
  margin-left: -5%;
  opacity: 0.3;
}

.dismoi img {
  width: 104%;
}

.dismoi-top {
  margin-top: -19%;
  margin-left: 7%;
}

.dismoi-button {
  padding: 1% 2%;
}

.dismoi h1 {
  margin-top: 2%;
  font-weight: 600;
  font-size: 3vw;
  color: white;
}

/* CINEPICK */

.cinepick {
  margin-left: 1.5%;
  width: 42%;
  border-radius: 20px;
  box-shadow: 0px 0px 20px #3e1c8d;
  opacity: 0.3;
}

.cinepick img {
  width: 100%;
}

.cinepick-top {
  margin-top: -20%;
  margin-left: 5%;
}

.cinepick-button {
  padding: 1% 5%;
}

.cinepick h1 {
  margin-top: 4%;
  font-weight: 600;
  font-size: 3vw;
  color: white;
}

/* SPOTY */

.spoty {
  border-radius: 20px;
  padding: 2%;
  margin-left: -20%;
  width: 25%;
  height: fit-content;
  background-image: linear-gradient(160deg, #3e1c8d, #55a3ce);
  box-shadow: 0px 0px 20px #3e1c8d;
  opacity: 0.3;
}

.spoty-top {
  margin-top: -40%;
  margin-left: 2%;
}

.spoty img {
  margin-left: 30%;
  margin-top: -4%;
  margin-bottom: 10%;
  width: 73%;
}

.spoty h1 {
  margin-top: 6%;
  margin-bottom: 6%;
  font-weight: 600;
  font-size: 3vw;
  color: white;
}

/* --------- CORSE MATIN --------- */

.corse {
  margin-top: 15%;
}

.corse-top {
  display: flex;
  flex-direction: row;
}

.corse-left {
  display: flex;
  flex-direction: column;
}

.corse-left {
  margin-left: 8%;
}

/* CORSE 01 */

.number {
  font-size: 8vw;
  font-weight: 600;
  line-height: 0.75;
}

.theme {
  font-weight: 200;
  font-size: 1vw;
}

.corse-background-title {
  opacity: 0.03;
  font-size: 22vw;
  font-weight: 600;
  margin-top: -17%;
  margin-left: 5%;
}

/* CORSE container */

.corse-container {
  margin-top: -17%;
}

.corse-txt-title {
  font-size: 3.5vw;
  font-weight: 600;
}

.corse-txt-under-title {
  font-weight: 200;
  font-size: 1.7vw;
}

.corse-txt-description {
  line-height: 1.25;
  font-size: 1.2vw;
  width: 95%;
}

.corse-txt img {
  margin-top: 7%;
  width: 50%;
}

/* CORSE IMG RIGHT */

.corse-right {
  width: 150%;
}

.corse-right img {
  width: 100%;
}

/* CORSE LINE */

.corse-line-title {
  display: flex;
  flex-direction: row;
}

.corse-2-title {
  display: flex;
  flex-direction: column;
}

.corse-line {
  display: flex;
  flex-direction: row;
  content: "";
  margin-top: 1%;
  margin-left: -2%;
  margin-right: 2%;
  width: 1px;
  height: 8vw;
  background-color: #fd5073;
}

/* CORSE UNDER */

.corse-under {
  margin-top: 4%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 8%;
  margin-right: 8%;
}

.corse-under-img {
  width: 20%;
}

/* ------- DIS MOI --------- */

.dismoi-container-top {
  display: flex;
  flex-direction: row;
  margin-top: 7%;
}

.dismoi-right {
  display: flex;
  flex-direction: column;
  text-align: right;
  width: 80%;
  margin-top: 15%;
}

/* dismoi IMG LEFT */

.dismoi-left {
  width: 100%;
  margin-top: 5%;
  margin-left: 2%;
}

.dismoi-left img {
  width: 100%;
}

/* dismoi 01 */

.dismoi-title {
  margin-right: 8%;
}

.number {
  font-size: 8vw;
  font-weight: 600;
  line-height: 0.75;
}

.theme {
  font-weight: 200;
  font-size: 1vw;
}

.dismoi-background-title {
  opacity: 0.03;
  font-size: 18vw;
  font-weight: 600;
  margin-right: 18%;
  margin-top: -20%;
}

/* dismoi LINE */

.dismoi-line-title {
  display: flex;
  flex-direction: row;
  margin-right: 8%;
}

.dismoi-2-title {
  display: flex;
  flex-direction: column;
  margin-left: 70%;
}

.dismoi-line {
  position: absolute;
  display: flex;
  flex-direction: row;
  content: "";
  margin-top: 0.5%;
  right: 2.5%;
  width: 1px;
  height: 8vw;
  background-color: #fd5073;
}

/* dismoi container */

.dismoi-container {
  margin-top: -15%;
}

.dismoi-txt-title {
  font-size: 3.5vw;
  font-weight: 600;
}

.dismoi-txt-under-title {
  font-weight: 200;
  font-size: 1.7vw;
}

.dismoi-txt-description {
  line-height: 1.25;
  font-size: 1.2vw;
  margin-top: 8%;
  margin-right: 8%;
}

.dismoi-txt img {
  margin-top: 7%;
  margin-right: 8%;
  width: 60%;
}

/* dismoi UNDER */

.dismoi-under {
  margin-top: 4%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 8%;
  margin-right: 8%;
}

.dismoi-second {
  position: relative;
  z-index: 2;
  width: 32%;
  height: 32%;
}

.dismoi-first {
  position: relative;
  z-index: 1;
  margin-right: -1%;
  width: 30%;
  height: 30%;
  margin-top: auto;
  margin-bottom: auto;
}

.dismoi-third {
  position: relative;
  z-index: 1;
  margin-left: -1%;
  width: 30%;
  height: 30%;
  margin-top: auto;
  margin-bottom: auto;
}

/* --------- cinepick --------- */

.cinepick-first-container {
  margin-top: 15%;
}

.cinepick-container-top {
  display: flex;
  flex-direction: row;
}

.cinepick-left {
  display: flex;
  flex-direction: column;
}

.cinepick-left {
  margin-left: 8%;
}

/* cinepick 01 */

.number {
  font-size: 8vw;
  font-weight: 600;
  line-height: 0.75;
}

.theme {
  font-weight: 200;
  font-size: 1vw;
}

.cinepick-background-title {
  opacity: 0.03;
  font-size: 22vw;
  font-weight: 600;
  margin-top: -17%;
  margin-left: 5%;
}

/* cinepick container */

.cinepick-container {
  margin-top: -17%;
}

.cinepick-txt-title {
  font-size: 3.5vw;
  font-weight: 600;
}

.cinepick-txt-under-title {
  font-weight: 200;
  font-size: 1.7vw;
}

.cinepick-txt-description {
  line-height: 1.25;
  font-size: 1.2vw;
  width: 95%;
}

.cinepick-txt img {
  margin-top: 7%;
  width: 50%;
}

/* cinepick IMG RIGHT */

.cinepick-right {
  width: 120%;
  margin-top: 5%;
  margin-right: 8%;
}

.cinepick-right img {
  width: 100%;
}

/* cinepick LINE */

.cinepick-line-title {
  display: flex;
  flex-direction: row;
}

.cinepick-2-title {
  display: flex;
  flex-direction: column;
}

.cinepick-line {
  display: flex;
  flex-direction: row;
  content: "";
  margin-top: 1%;
  margin-left: -2%;
  margin-right: 2%;
  width: 1px;
  height: 8vw;
  background-color: #fd5073;
}

/* cinepick UNDER */

.cinepick-under {
  margin-top: 4%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 8%;
  margin-right: 8%;
}

.cinepick-second,
.cinepick-third {
  width: 27%;
  height: 27%;
}

.cinepick-first {
  width: 37%;
  height: 37%;
  margin-top: auto;
  margin-bottom: auto;
}

/* -------- SPOTY --------- */

.spoty-container-top {
  display: flex;
  flex-direction: row;
  margin-top: 7%;
}

.spoty-right {
  display: flex;
  flex-direction: column;
  text-align: right;
  width: 80%;
  margin-top: 15%;
}

/* spoty IMG LEFT */

.spoty-left {
  width: 100%;
  margin-top: 5%;
  margin-left: 5%;
}

.spoty-left img {
  width: 100%;
}

/* spoty 01 */

.spoty-title {
  margin-right: 8%;
}

.number {
  font-size: 8vw;
  font-weight: 600;
  line-height: 0.75;
}

.theme {
  font-weight: 200;
  font-size: 1vw;
}

.spoty-background-title {
  opacity: 0.03;
  font-size: 18vw;
  font-weight: 600;
  margin-right: 18%;
  margin-top: -20%;
}

/* spoty LINE */

.spoty-line-title {
  display: flex;
  flex-direction: row;
  margin-right: 8%;
}

.spoty-2-title {
  display: flex;
  flex-direction: column;
  margin-left: 59%;
}

.spoty-line {
  position: absolute;
  display: flex;
  flex-direction: row;
  content: "";
  margin-top: 0.5%;
  right: 2.5%;
  width: 1px;
  height: 8vw;
  background-color: #fd5073;
}

/* spoty container */

.spoty-container {
  margin-top: -15%;
  text-align: right;
}

.spoty-txt-title {
  font-size: 3.5vw;
  font-weight: 600;
}

.spoty-txt-under-title {
  font-weight: 200;
  font-size: 1.7vw;
}

.spoty-txt-description {
  line-height: 1.25;
  font-size: 1.2vw;
  margin-top: 8%;
  margin-right: 8%;
}

.spoty-txt img {
  margin-top: 7%;
  margin-right: 8%;
  width: 60%;
}

/* spoty UNDER */

.spoty-under {
  margin-top: 4%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 8%;
  margin-right: 8%;
  margin-bottom: 10%;
}

.spoty-under-img {
  width: 25%;
  height: 25%;
}
